
| 💬 Топы [id#{user.id}|#{user.last_name} #{user.first_name}]
|
|

- for ( let i = 0; i < users.length; i++ )
  - var biba = plural(users[i].biba, '%d см', '%d см', '%d см');
  - var place = offset + i + 1;
  case i
      when 0
          | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{biba} <br>
      when 1
          | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{biba} <br>
      when 2
          | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{biba} <br>
      when 3
          | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{biba} <br>
      when 4
          | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{biba} <br>

|
| 💥 Место по рейтингу бибы : #{record_biba}
| 🔥 Место по см бибы : #{biba_top}
| 💦 Место по фапам : #{fap_top} <br>
if bigbon_top == 0
    |
else
    | 🔱 Место по бигбонам : #{bigbon_top} <br>
if bibon_top == 0
    |
else
    | ⚡ Место по бибонам : #{bibon_top} <br>
| 💦 Место по дрочкоинам : #{coin_top}
