
| 💬 Топы [id#{user.id}|#{user.last_name} #{user.first_name}]
|
| 💥 Место по рейтингу бибы : #{record_biba}
| 🔥 Место по см бибы : #{biba_top}
| 💦 Место по фапам : #{fap_top}
| 🔱 Место по бигбонам :
| ⚡ Место по бибонам :
| 💦 Место по дрочкоинам : #{coin_top}
