
case notifications
  when "strength_full"
    case template 
      when 1
        | 💬 [id#{user.id}|#{user.last_name} #{user.first_name}], твои дроч силы восстановились! Пора идти в бой.
      when 2
        | 💬 Хватить спать [id#{user.id}|#{user.first_name}]! Твои дроч силы восстановились.
      when 3
        | 💬 [id#{user.id}|#{user.last_name} #{user.first_name}] дроч силы восстановлены! Бибоны ждут.
      when 4
        | 💬 Дроч силы восстановились! [id#{user.id}|#{user.last_name} #{user.first_name}] можешь продолжать поднимать см.
      when 5
        | 💬 [id#{user.id}|#{user.last_name} #{user.first_name}] бибоны ждут тебя! Дроч силы восстановлены.
