//- Variables : id, first_name, last_name, template

case template
  when 1
    | [id#{id}|#{first_name}] поздравляю, у вас выросла биба!
  when 2
    | Новый пользователь! Он попросил звать его [id#{id}|Биба-мен].
  when 3
    | Ну привет, [id#{id}|#{first_name}]. Начинай растить бибу!
  when 4
    | [id#{id}|#{last_name} #{first_name}] вступил в ряды биберов!
  when 5
    | У [id#{id}|Шизоида] зачасались шары! Он начинает свою бибовую карьеру.
