- var fapin = plural(fap, '%d раз', '%d раза', '%d раз');
- var days = plural(day, '%d день', '%d дня', '%d дней');
if bibons > 10
  - var winrate = (Math.round(((100 / bibons) * win_bibon) * 100) / 100 ) + "%";
else 
  - var winrate = "Слишком мало бибонов";
    
| 💬 Статистика [id#{user.id}|#{user.last_name} #{user.first_name}]
|
| 💦 Пофапал : #{fapin}
| 🔝 Позиция в топе : #{top}
| 🔥 Всего бибонов : #{bibons}
|
| ✔ Выигранных бибонов : #{win_bibon}
| ⛔ Проигранных бибонв : #{lose_bibon}
| ✨Винрейт : #{winrate}
|
| ✊ Имеешь бибу : #{days > 0 ? days : 'меньше дня'}
