- var fapin = plural(fap, '%d раз', '%d раза', '%d раз');
- var days = plural(day, '%d день', '%d дня', '%d дней');
if bibons > 10
  - var winrate = (Math.round(((100 / bibons) * win_bibon) * 100) / 100 ) + "%";
else 
  - var winrate = "Слишком мало бибонов";
    
| 💬 Статистика [id#{user.id}|#{user.last_name} #{user.first_name}]
|
| 🔝 Позиция в топе : #{top}
| ✨ Винрейт : #{winrate}
|
|
if record == 0
  |
else if record > 0
  | 💥 Рекорд бибы : #{record} см
|
| 🔥 Всего бибонов : #{bibons}
| 🔱 Всего бигбонов : #{bigbons}
| 💦 Пофапал : #{fapin}
|
| ✔ Выигранных бибонов : #{win_bibon} ( +#{sm_plus_bibon} см. )
| ⛔ Проигранных бибонв : #{lose_bibon} ( -#{sm_minus_bibon} см. )
|
| ✔ Выигранных бигбонов : #{win_bigbon} ( +#{sm_plus_bigbon} см. )
| ⛔ Проигранных бигбонов : #{lose_bigbon} ( -#{sm_minus_bigbon} см. )
|
| ✊ Имеешь бибу : #{day > 0 ? days : 'меньше дня'}
