if type == "win"
  case template
    when 1
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] в прыжке хватает бибу своего [id#{user2.id}|оппонента] и отрывает смачный кусок от него. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] пришлось не сладко. 
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 2
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] запихал фалос [id#{user2.id}|#{user2.first_name} #{user2.last_name}] прямо в жопу. [id#{user2.id}|Лошара] пососал бибу и стал импотентом.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 3
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] кончил в глаз [id#{user2.id}|#{user2.first_name} #{user2.last_name}]. Тот потерял ореинтацию и упал жопой в крапиву.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 4
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] выпгрыгнул из кустов и укусил за яйцо своего оппонента. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] пришлось убегать в ужасе!
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 5
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] решил показать кто тут батя и расчехлил своего удава. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] показалось, что тот быканул и показал своего удава, но удав был на пол шестого.
      | [id#{user1.id}|#{user1.first_name}], ты тут батя.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 6
      | 💬 [id#{user2.id}|Бибон] шел никого не трогал, как тут на него набросился [id#{user1.id}|#{user1.first_name} #{user1.last_name}] и оторвал кусок бибы. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] пришлось убегать в слезах.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 7
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] своей длинной бибой порвал очко [id#{user2.id}|#{user2.last_name} #{user2.first_name}]. Тот орал от боли, но победитель тут один.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 8
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] пошел бухать в гараж к [id#{user2.id}|#{user2.last_name} #{user2.first_name}]. И в ходе пьянки [id#{user2.id}|#{user2.first_name}]
      | на голову упала шина от машины. [id#{user1.id}|#{user1.first_name} #{user1.last_name}] тупо поржал и подрочил.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 9
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] наебнул виагры и пошел быковать. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] такой расклад событый не понравился, он решил быкануть на него, но по случайности упал раком и был выебан в жопу.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 10
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] отрастил такую большую бибу, что с легкостью разъебал [id#{user2.id}|#{user2.first_name} #{user2.last_name}] жопу. У лошка жопа еще долго будет болеть.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 11
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] выступал на ежегодной конференции молодых геев, и вдруг, совершенно неожиданно, сзади [id#{user1.id}|ему] всунули огромный дилдак.
      | Но [id#{user1.id}|#{user1.last_name} #{user1.first_name}] не растерялся и выплюнув из жопы 100 см дилдо дал им по ебалу [id#{user2.id}|#{user2.first_name} #{user2.last_name}].
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
    when 12
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] подлетел к [id#{user2.id}|#{user2.first_name} #{user2.last_name}], чтобы оторвать кусок бибы, но по пути встретил порноактирсу. [id#{user1.id}|#{user1.first_name} #{user1.last_name}] достал свою бибу чтобы пофапать, но случайно стокнул [id#{user2.id}|лошка] в яму в дерьмом.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | 🥖 Биба: + #{biba}см
else if type == "lose"
  case template
    when 1
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] решил выебнуться своей длинной бибой, но его приметили хачи и отпиздили за гаражами. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] было так смешно, но он кончил [id#{user1.id}|#{user1.first_name}  #{user1.last_name}] на лицо.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 2
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] вызвал на бибный дуэль [id#{user2.id}|Бибона], но биба не встала.. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] пришлось дать [id#{user1.id}|оппоненту] бибой по лбу.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 3
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] с разбега ворвался что бы дать бибу в рот [id#{user2.id}|#{user2.first_name} #{user2.last_name}], но поскальзнулся на говне и упал в канаву с хуями. Помянем..
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 4
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] решил подлить слабительное [id#{user2.id}|#{user2.first_name} #{user2.last_name}], но перепутал с виагрой и был выебан в жопу.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 5
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] давно не фапал и решил засадить [id#{user2.id}|#{user2.first_name} #{user2.last_name}], но перепутал хату и попал на девичник и был выебал страпоном. Такое жопа еще долго не забудет.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 6
      | 💬 [id#{user1.id}|#{user1.last_name} #{user1.first_name}] хотел оторвать бибу [id#{user2.id}|#{user2.first_name} #{user2.last_name}], но силенок не хватило и [id#{user2.id}|#{user2.first_name} #{user2.last_name}] пришлось засадить ему на клык.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 7 
      | 💬 [id#{user1.id}|#{user1.last_name} #{user1.first_name}] хотел показать кто тут батя [id#{user2.id}|#{user2.first_name} #{user2.last_name}], но пришел черный дядя и показал свою бибу. [id#{user1.id}|#{user1.last_name} #{user1.first_name}] на долго запомнит это..
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 8
      | 💬 [id#{user1.id}|#{user1.last_name} #{user1.first_name}] хотел показать [id#{user2.id}|#{user2.first_name} #{user2.last_name}] свою бибу, но ему позвонил его парень. [id#{user1.id}|#{user1.first_name} #{user1.last_name}] ушел так и не показав свою бибу.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 9
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] наебнул виагры и пошел быковать, но это оказалось слабительное... [id#{user2.id}|#{user2.first_name} #{user2.last_name}] стало противно от такого неудачника и он блеванул ему на лицо.
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 10
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] решил засадить [id#{user2.id}|#{user2.first_name} #{user2.last_name}] в жопу, но у того была девушка. Пошел прочь неудачник!
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 11
      |💬 [id#{user1.id}|#{user1.first_name}] выступал на ежегодной конференции молодых геев, и вдруг, совершенно неожиданно, сзади [id#{user1.id}|ему] всунули огромный дилдак.
      | [id#{user1.id}|#{user1.last_name}] ничего не смог сделать и его выебали 100 см дилдо. [id#{user2.id}|#{user2.first_name}] был сегодня сверху!
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
    when 12
      | 💬 [id#{user1.id}|#{user1.first_name} #{user1.last_name}] подлетел к [id#{user2.id}|#{user2.first_name} #{user2.last_name}], чтобы оторвать кусок бибы, но по пути встретил порноактирсу. [id#{user1.id}|#{user1.first_name} #{user1.last_name}] достал свою бибу чтобы пофапать, но порноактирса оказалась трапом и [id#{user1.id}|#{user1.first_name} #{user1.last_name}] был выебан в жопу. 
      | 👩‍❤‍👨 Шанс: #{chance}% (число: #{random_int})
      | ⛔ Биба: - #{biba}см
