if type == "win"
  case template
    when 1
      | [id#{user1.id}|#{user1.first_name}] в прыжке хватает член своего [id#{user2.id}|оппонента] и отрывает смачный кусок от него. 
      | [id#{user1.id}|#{user1.first_name}] твоя биба увеличелась на #{biba} см. Шанс на победу: #{chance}%
    when 2
      | [id#{user1.id}|#{user1.first_name}] запихал фалос [id#{user2.id}|#{user2.first_name}] прямо в жопу. [id#{user2.id}|Лошара] пососал бибу и стал импотентом.
      | Поздравляю [id#{user1.id}|#{user1.first_name}]. + #{biba} см. Шанс на победу: #{chance}%
    when 3
      | [id#{user1.id}|#{user1.first_name}] кончил в глаз [id#{user2.id}|#{user2.first_name}]. Тот потерял ореинтацию и упал жопой в крапиву.
      | + #{biba} см. Шанс на победу: #{chance}%
    when 4
      | [id#{user1.id}|#{user1.first_name}] выпгрыгнул из кустов и укусил за яйцо своего оппонента, [id#{user2.id}|#{user2.first_name}] это не понравилось. Теперь [id#{user2.id}|ты] одноклеточное животно.
      | Поздравляю [id#{user1.id}|#{user1.first_name}]. + #{biba} см. Шанс на победу: #{chance}%
    when 5
      | [id#{user1.id}|#{user1.first_name}] решил показать кто тут батя и расчехлил своего удава. [id#{user2.id}|Оппонент] решил посоревноваться, но у него не встал.
      | [id#{user1.id}|#{user1.first_name}], ты тут батя. + #{biba} см. Шанс на победу: #{chance}%
    when 6
      | [id#{user2.id}|Бибон] шел никого не трогал, как тут на него набросился [id#{user1.id}|#{user1.first_name} #{user1.last_name}] и оторвал кусок бибы.
      | +#{biba} см. Шанс на победу: #{chance}%
    when 7
      | [id#{user1.id}|#{user1.first_name}] своей длинной бибой порвал очко [id#{user2.id}|#{user2.last_name} #{user2.first_name}]. Тот орал от боли, но победитель тут один.
      | +#{biba} см. Шанс на победу: #{chance}%
    when 8
      | [id#{user1.id}|#{user1.first_name}] пошел бухал в гараж к [id#{user2.id}|бибону]. И в ходе пьянки [id#{user2.id}|#{user2.first_name}]
      | на голову упала шина от машины. [id#{user1.id}|#{user1.first_name} #{user1.last_name}] тупо поржал и подрочил.
      | +#{biba} см. Шанс на победу: #{chance}%
    when 9
      | [id#{user1.id}|#{user1.first_name}] наебнул виагры и пошел быковать. [id#{user2.id}|#{user2.first_name}] такой расклад событый не понравился и он убежал обосравшись в штаны.
      | +#{biba} см. Шанс на победу: #{chance}%
    when 10
      | [id#{user1.id}|#{user1.first_name}] отрастил такую большую бибу, что с легкостью разъебал [id#{user2.id}|#{user2.first_name}] жопу. 
      | +#{biba} см. Шанс на победу: #{chance}%
else if type == "lose"
  case template
    when 1
      | [id#{user1.id}|#{user1.first_name}] решил выебнуться своей длинной бибой, но его приметили хачи и отпиздили за гаражами, [id#{user2.id}|Бибон] посмеялся и ушел гонять лысого.
      | [id#{user1.id}|#{user1.first_name}] потерял #{biba} см. Шанс на победу: #{chance}%
    when 2
      | [id#{user1.id}|#{user1.first_name}] вызвал на бибный дуэль [id#{user2.id}|Бибона], но биба не встала.. 
      | [id#{user1.id}|#{user1.first_name}] получил по лбу хуем от своего соперника. - #{biba} см. Шанс на победу: #{chance}%
    when 3
      | [id#{user1.id}|#{user1.first_name}] с разбега ворвался что бы дать бибу в рот [id#{user2.id}|#{user2.first_name}], но подскальзнулся на говне и упал в канаву с хуями. 
      | У вас оторвали #{biba} см бибы. Шанс на победу: #{chance}%
    when 4
      | [id#{user1.id}|#{user1.first_name}] решил подлить слабительное [id#{user2.id}|#{user2.first_name}], но перепутал с виагрой и был выебан в жопу.
      | - #{biba} см. Шанс на победу: #{chance}%
    when 5
      | [id#{user1.id}|#{user1.first_name}] давно не фапал и решил засадить [id#{user2.id}|#{user2.first_name}], но перепутал хату и попал на девичник и был выебал страпоном.
      | - #{biba} см. Шанс на победу: #{chance}%
    when 6
      | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] хотел оторвать бибу [id#{user2.id}|#{user2.first_name}], но силенок не хватило и [id#{user2.id}|оппонент] выебал его в жопу.
      | -#{biba} см. Шанс на победу: #{chance}%
    when 7 
      | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] хотел показать кто тут батя [id#{user2.id}|#{user2.first_name}], но пришел Даня и показал свою бибу. [id#{user1.id}|Ему] еще долго будут сниться кошмары.
      | -#{biba} см.  Шанс на победу: #{chance}%
    when 8
      | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] хотел показать [id#{user2.id}|#{user2.first_name} #{user2.last_name}] свою бибу, но ему позвонил Денис. [id#{user1.id}|#{user1.first_name}] ушел так и не показав свою бибу.
      | -#{biba} см. Шанс на победу: #{chance}%
    when 9
      | [id#{user1.id}|#{user1.first_name}] наебнул виагры и пошел быковать, но это оказалось слабительное... [id#{user2.id}|Бибон] еще долго орал с него
      | -#{biba} см. Шанс на победу: #{chance}%
    when 10
      | [id#{user1.id}|#{user1.first_name}] решил выебать [id#{user2.id}|Бибона], но [id#{user2.id}|#{user2.first_name}] уже сосала девушка. Пошел прочь неудачник!
      | -#{biba} см. Шанс на победу: #{chance}%
 
