case template
    when 1
        | 💬 Сейчас подумаем...
        | Я думаю это [id#{user.id}|#{user.last_name} #{user.first_name}]!
    when 2
        | 💬 Мои хуевые источники говорят мне, что это [id#{user.id}|#{user.last_name} #{user.first_name}]!
    when 3
        | 💬 Хм.. я думаю, это [id#{user.id}|#{user.last_name} #{user.first_name}]!
    when 4
        | 💬 За лупой мне сказали, что это [id#{user.id}|#{user.last_name} #{user.first_name}]!
    when 5
        | 💬 Не знаю кто это, но пиписьками пахнет от [id#{user.id}|#{user.last_name} #{user.first_name}]!
    when 6
        | 💬 Что за тупой вопрос, все знают что это [id#{user.id}|#{user.last_name} #{user.first_name}]!
    when 7
        | 💬 Каво? Это точно [id#{user.id}|#{user.last_name} #{user.first_name}]! Я вчера видел.
    when 8
        | 💬 ХАхахахаха, это же [id#{user.id}|#{user.last_name} #{user.first_name}]!
    when 9
        | 💬 Каво? Не знаю, но твоя мамка сказала что это [id#{user.id}|#{user.last_name} #{user.first_name}]!
    when 10
        | 💬 Мне кажется, что это [id#{user.id}|#{user.last_name} #{user.first_name}]!
