//- Variables : id, first_name, last_name, f_id, f_first_namem f_last_name

case error 
  when "not found"
    case template
      when 1
        | Слышь ты, [id#{id}|Гэй] тебя не в базе данных! Напиши 'биба'
      when 2
        | [id#{id}|Ты] кто? Тебя нет в нашей фап базе, напиши 'биба'
      when 3
        | [id#{id}|Ты] быканул? Напиши 'биба', тебя нет в базе данных.
  when "no strength"    
    case template
      when 1
        | [id#{id}|#{first_name}] у тебя закончились силы на фап. На фап нужно 10 дроч силы.
      when 2
        | ОСТАНОВИСЬ! [id#{id}|#{first_name}], хватит! Еще один раз и ты помрешь! У тебя меньше 10 дроч сил.
      when 3
        | Хватит дрочить. У тебя рука сейчас отвалиться. Угомоните этого [id#{id}|Гэя]. Нужно 10 дроч силы. 
  when "fap_biba"
    case template
      when 1
        | У тебя одна биба, а не две! Жди окончания фапа.
      when 2
        | Вот дофапаешь и начнешь новый фап!
      when 3
        | Ты уже фапаешь!
  when "fap_you_biba"
    case template
      when 1
        | Ты уже фапаешь кому-то жди, чертила.
      when 2
        | [id#{id}|#{first_name}] решил сделать сюрприз другу и погонять его бибу, но ты уже фапаешь.
      when 3
        | Каво? У тебя две руки и они заняты уже другим членом. 
  when "fap_you_error"
    case template
      when 1
        | Руки на стол тебе уже фапают.
      when 2
        | Нельзя фапать пока тебе кто-то фапает!
      when 3
        | ТЫ ЧЕ?! А..? Тебе уже фапают.
  when "friend_not_allowed"
    case template
      when 1
        | Он уже фапает, иди себе дрочи мудила.
      when 2
        | Его биба занята, паошел прочь.
      when 3
        | Он один справится со своей бибой, иди свою бибу гоняй.
  when "bibon_error"
    case template
      when 1
        | СЛИШКОМ ЧАСТО БИБОНИШЬ! ЖДИ ЕЩЕ #{time} СЕК, МУДИЛА.
      when 2
        | ХВАТИТ! Подожди еще #{time} сек с бибонами.
      when 3
        | Иди подрочи лучше, а не бибоны кидай. Слишком часто кидаешь, жди #{time} сек.
  when "no_strength_bibon"
    case template
      when 1
        | Нет сил на бибон! Нужно 5 дроч сил.
      when 2
        | Отдохни немного, у тебя закончились силы! На бибу нужно 5 дроч сил.
      when 3
        | Остановить! У тебя закончились силы. У тебя меньше 5 дроч сил.
  when "him_biba_small"
    case template
      when 1
        | Нельзя бить людей у которых биба 0 см! Им и так не повезло в этой жизни.
      when 2
        | Ты собрался за бибонить человека у которого биба 0 см? А вот нельзя.
      when 3
        | У него 0 см, не позорься.. Ищи другого противника!
  when "no_strength_big_bibon"
    case template
      when 1
        | Нет сил на большой бибон! Нужно 25 дроч сил.
      when 2
        | Мудила, у тебя сил нет! Нужно 25 дроч сил.
      when 3
        | На большой бибон нужно 25 дроч силы! Иди отдыхай.
  when "big_biba_error"
    case template
      when 1
        - var min = plural(time, '%d минута', '%d минуты', '%d минут')
        | Время еще не пришло! Жди #{min}.
      when 2
        - var min = plural(time, '%d минута', '%d минуты', '%d минут')
        | Иди подрочи пока. Большой бибон будет доступен через #{min}.
      when 3
        - var min = plural(time, '%d минута', '%d минуты', '%d минут')
        | Пошел прочь мудила, слишком часто! Жди #{min}.
