//- Variables : id, first_name, last_name, f_id, f_first_namem f_last_name

case error 
  when "not found"
    case template
      when 1
        | ⛔ Слышь ты, [id#{user.id}|Гэй] тебя не в базе данных! Напиши 'биба'
      when 2
        | ⛔ [id#{user.id}|Ты] кто? Тебя нет в нашей фап базе, напиши 'биба'
      when 3
        | ⛔ [id#{user.id}|Ты] быканул? Напиши 'биба', тебя нет в базе данных.
  when "no strength"    
    case template
      when 1
        | ⛔ [id#{id}|#{first_name}] у тебя закончились силы на фап. На фап нужно 10 дроч силы.
      when 2
        | ⛔ ОСТАНОВИСЬ! [id#{id}|#{first_name}], хватит! Еще один раз и ты помрешь! У тебя меньше 10 дроч сил.
      when 3
        | ⛔ Хватит дрочить. У тебя рука сейчас отвалиться. Угомоните этого [id#{id}|Гэя]. Нужно 10 дроч силы. 
  when "fap_biba"
    case template
      when 1
        | ⛔ У тебя одна биба, а не две! Жди окончания фапа.
      when 2
        | ⛔ Вот дофапаешь и начнешь новый фап!
      when 3
        | ⛔ Ты уже фапаешь!
  when "fap_you_biba"
    case template
      when 1
        | ⛔ Ты уже фапаешь кому-то жди, чертила.
      when 2
        | ⛔ [id#{id}|#{first_name}] решил сделать сюрприз другу и погонять его бибу, но ты уже фапаешь.
      when 3
        | ⛔ Каво? У тебя две руки и они заняты уже другим членом. 
  when "fap_you_error"
    case template
      when 1
        | ⛔ Руки на стол тебе уже фапают.
      when 2
        | ⛔ Нельзя фапать пока тебе кто-то фапает!
      when 3
        | ⛔ ТЫ ЧЕ?! А..? Тебе уже фапают.
  when "friend_not_allowed"
    case template
      when 1
        | ⛔ Он уже фапает, иди себе дрочи мудила.
      when 2
        | ⛔ Его биба занята, паошел прочь.
      when 3
        | ⛔ Он один справится со своей бибой, иди свою бибу гоняй.
  when "bibon_error"
    case template
      when 1
        | ⛔ СЛИШКОМ ЧАСТО БИБОНИШЬ! ЖДИ ЕЩЕ #{time} СЕК, МУДИЛА.
      when 2
        | ⛔ ХВАТИТ! Подожди еще #{time} сек с бибонами.
      when 3
        | ⛔ Иди подрочи лучше, а не бибоны кидай. Слишком часто кидаешь, жди #{time} сек.
  when "no_strength_bibon"
    case template
      when 1
        | ⛔ Нет сил на бибон! Нужно 5 дроч сил.
      when 2
        | ⛔ Отдохни немного, у тебя закончились силы! На бибу нужно 5 дроч сил.
      when 3
        | ⛔ Остановись! У тебя закончились силы. У тебя меньше 5 дроч сил.
  when "him_biba_small"
    case template
      when 1
        | ⛔ Нельзя бить людей у которых биба 0 см! Им и так не повезло в этой жизни.
      when 2
        | ⛔ Ты собрался за бибонить человека у которого биба 0 см? А вот нельзя.
      when 3
        | ⛔ У него 0 см, не позорься.. Ищи другого противника!
  when "no_strength_big_bibon"
    case template
      when 1
        | ⛔ Нет сил на большой бибон! Нужно 25 дроч сил.
      when 2
        | ⛔ Мудила, у тебя сил нет! Нужно 25 дроч сил.
      when 3
        | ⛔ На большой бибон нужно 25 дроч силы! Иди отдыхай.
  when "big_biba_error"
    case template
      when 1
        - var min = plural(time, '%d минута', '%d минуты', '%d минут')
        | ⛔ Время еще не пришло! Жди #{min}.
      when 2
        - var min = plural(time, '%d минута', '%d минуты', '%d минут')
        | ⛔ Иди подрочи пока. Большой бибон будет доступен через #{min}.
      when 3
        - var min = plural(time, '%d минута', '%d минуты', '%d минут')
        | ⛔ Пошел прочь мудила, слишком часто! Жди #{min}.
  when "catalog_not_found"
    case template
      when 1
        | ⛔ Каталог не найден!
      when 2
        | ⛔ Нет такого каталога!
      when 3
        | ⛔ Мудень, нет такого каталога!
  when "malo_coins"
    case template
      when 1
        | ⛔ Не достаточно монет! 
      when 2
        | ⛔ Монет не хватает, иди в пень!
      when 3
        | ⛔ У тебя тыщи не хватает! Иди копи.
  when "max_items"
    case template
      when 1
        | ⛔ У тебя макс. кол-во этого предмета!
      when 2
        | ⛔ Тебе больше нельзя покупать этот предмет!
      when 3
        | ⛔ Тебе больше нельзя покупать этот предмет!
  when "new_user_error"
    case template
      when 1
        | ⛔ Это кто? Пусть он биба напишет.
      when 2
        | ⛔ Я не знаю кто это! Попроси его написать биба.
      when 3
        | ⛔ Этого педика я не знаю, пусть он биба напишет.
  when "little_bibon"
    case template
      when 1
        | ⛔ Ты свою бибу видел? Нужно более 2 см.
      when 2
        | ⛔ АХАХАХ. Ты с такой бибой собрался сражаться? Нужно более 2см.
      when 3 
        | ⛔ А вот перехочешь! Биба маленькая. Более 2 см надо.
  when "little_big_bibon"
    case template
      when 1
        | ⛔ Иди дрочи лошара! Большой бибон доступен после 5 см бибы.
      when 2
        | ⛔ Биба еще не выросла для таких игр! Нужно более 5 см.
      when 3 
        | ⛔ АХАХАХА. Ты свою бибу видел? Большой бибон доступен после 5 см.
  when 'command_ls_bot_error'
    case template
      when 1
        | ⛔ Это команда отключена в ЛС бота.
  when 'spam'
    case template
      when 1
        | ⛔ Хватит спамить! Отдохни 1 минуту.
      when 2
        | ⛔ Ага, спамишь! Отдохни 1 минуту.
      when 3
        | ⛔ Доспамился мудила. Запрещаю тебе юзать команды 5 минут.
