case eventt
  when "fap_biba"
    case template
      when 1
        | Гоняет лысого
      when 2
        | Фапает бибу 
      when 3
        | Душит удава
  when "fap_you_biba"
    case template
      when 1
        | Помогаю другу с бибой
      when 2
        | Ушел с ночевкой к другу
      when 3
        | Работает ртом
  when "day_biba"
    case template
      when 1
        | 💬 Бибный палачь
        | У [id#{vk_user.id}|#{vk_user.last_name} #{vk_user.first_name}] был сегодня плохой день 
        | и его нашел бибный палач, бибу порезали на 🔥 #{biba} см.
      when 2
        | 💬 Бибный палачь
        |  У [id#{vk_user.id}|#{vk_user.last_name} #{vk_user.first_name}] стрижка члена в парикмахерской.
        | 🔥 -#{biba} см.
      when 3
        | 💬 Бибный палачь
        | У [id#{vk_user.id}|#{vk_user.last_name} #{vk_user.first_name}] обнаружили рак бибы!
        | Пришлось отрезать 🔥#{biba} см.
      when 4
        | 💬 Бибный палачь
        | КАРАУЛ! Бибный палачь отрубил 🔥#{biba} см у [id#{vk_user.id}|#{vk_user.last_name} #{vk_user.first_name}]!
      when 5
        | 💬 Бибный палачь
        | У [id#{vk_user.id}|#{vk_user.last_name} #{vk_user.first_name}] отсохло 🔥#{biba} см бибы. Кто-то поработал топором.
