//- Variables : id, first_name, last_name, time, f_first_name, f_last_name f_id
if fap == "i"
  case template 
    when 1
      | 💬 [id#{id}|#{first_name} #{last_name}] решил встряхнуть стариной и погонять свою бибу. 
      | ✊🏻 На дрочку было выделено #{time} мин.
    when 2
      | 💬 У [id#{id}|Пажилого] старичка в первые за долгое время появился стояк! Сейчас будет скользко. 
      | ✊🏻 Стояк продержится #{time} мин.
    when 3
      | 💬 [id#{id}|#{last_name} #{first_name}] решил почесать яйца, но закончилось все началом дрочки. 
      | ✊🏻 Скоро придет, примерно через #{time} мин.
    when 4
      | 💬 О МАЙ ГАД! [id#{id}|#{first_name} #{last_name}] решил погонять свою бибу. 
      | ✊🏻 Но его сил хватит на #{time} мин.
    when 5
      | 💬 ЛОХ и Девственник по имени [id#{id}|#{first_name} #{last_name}] решил погонять удава. Лучше бы девушку завел, лошара. 
      | ✊🏻 З.Ы Мамка придет через #{time} мин.
    when 6
      | 💬 Молодой [id#{id}|#{first_name} #{last_name}] случайно наткнулся на гей-порно и решил не упускать момент и подрочить! 
      | ✊🏻 Эх.. жаль, что гей-порно идет всего #{time} мин.
    when 7 
      | 💬 Всем привет! Меня зовут [id#{id}|#{last_name} #{first_name}] и я пошел дрочить.
      | ✊🏻 приду через #{time} мин.
    when 8
      | 💬 [id#{id}|#{last_name} #{first_name}] устал сидеть на бибе и решил подудишь удава!
      | ✊🏻 Ничего вернется на бибу через #{time} мин.
    when 9
      | 💬 ОСТАНОВИТЕ [id#{id}|ЭТОГО] ЗВЕРЯ, ОН НАЧАЛ ДРОЧИТЬ! 
      | ✊🏻 ЕГО МОЩИ ХВАТИТ НА #{time} мин.
    when 10
      | 💬 [id#{id}|#{first_name} #{last_name}] расстроился потому что ему отказала девушка, но рука дала добро. Удачного фапанья. 
      | ✊🏻 Ждем #{time} мин.
    when 11
      | 💬 [id#{id}|#{first_name} #{last_name}] нашел под кроватью журнал для взрослых.
      | ✊🏻 Ждем #{time} мин.
    when 12
      | 💬 [id#{id}|#{first_name} #{last_name}] решил уединиться со своей рукой в коморке.
      | ✊🏻 Ждем #{time} мин.
    when 13
      | 💬 [id#{id}|#{first_name} #{last_name}] чуть не пропустил время фапа!
      | ✊🏻 Будет фапать еще #{time} мин.
    when 14
      | 💬 [id#{id}|#{first_name} #{last_name}] возбудился от сообщений и пошел фапать.
      | ✊🏻 Будет фапать еще #{time} мин.
else if fap == "you"
  case template
    when 1
      | 💬 [id#{id}|#{first_name} #{last_name}] решил встряхнуть стариной и погонять бибу [id#{f_id}|#{f_first_name} #{f_last_name}]. 
      | ✊🏻 Тебе хватит #{time} мин?
    when 2
      | 💬 Старичек [id#{id}|#{first_name}] решил пососать бибу [id#{f_id}|#{f_first_name} #{f_last_name}]. 
      | ✊🏻 Уверен на 100%, что его хватит на #{time} мин.
    when 3
      | 💬 [id#{id}|#{last_name} #{first_name}] решил почесать яйцо [id#{f_id}|#{f_first_name}] и был выебан в жопу. 
      | ✊🏻 Ебля закончится через #{time} мин.
    when 4
      | 💬 [id#{id}|#{first_name} #{last_name}] прокрался в спальню к [id#{f_id}|#{f_first_name} #{f_last_name}] и начал гонять ему бибу. 
      | ✊🏻 У ТЕБЯ ЕСТЬ #{time} МИН!!
    when 5
      | 💬 [id#{id}|#{first_name} #{last_name}] решил помочь лоху и девственнику [id#{f_id}|#{f_first_name} #{f_last_name}] и задушил его удава. 
      | ✊🏻 Удав задушится через #{time} мин.
    when 6
      | 💬 Всем привет! Меня зовут [id#{id}|#{first_name} #{last_name}] и я пошел дрочить [id#{f_id}|#{f_first_name} #{f_last_name}]. 
      | ✊🏻 Ждите нас через #{time} мин.
    when 7
      | 💬 [id#{id}|#{first_name} #{last_name}] устал фапать себе и пошел наяривать [id#{f_id}|#{f_first_name} #{f_last_name}].
      | ✊🏻 Эти #{time} мин будут жаркими!
    when 8
      | 💬 Не, ну ты [id#{id}|Гэй]. Зачем ты фапаешь [id#{f_id}|#{f_first_name} #{f_last_name}]? 
      | ✊🏻 Этого гея хватит на #{time} мин.
    when 9
      | 💬 ОСТАНОВИТЕ [id#{id}|ЭТОГО] ЗВЕРЯ, ОН ТАК ЯРОСТНО НАЧАЛ ДРОЧИТЬ ЭТОМУ [id#{f_id}|БЫДЛУ]! 
      | ✊🏻 ЭТОГО ЗВЕРЯ ХВАТИТ ПРИМЕРНО НА #{time} мин.
    when 10
      | 💬 [id#{id}|#{first_name} #{last_name}] решил стать пипидастером и пошел гонять бибу [id#{f_id}|#{f_first_name} #{f_last_name}]. 
      | ✊🏻 Гэи вернутся через #{time} мин.
    when 11
      | 💬 [id#{id}|#{first_name} #{last_name}] насмотрелся журнала для взрослых и решил пофапать [id#{f_id}|#{f_first_name} #{f_last_name}].
      | ✊🏻 Гэи вернутся через #{time} мин.
    when 12
      | 💬 [id#{id}|#{first_name} #{last_name}] решил уединиться со своим другом в коморке. [id#{f_id}|#{f_first_name} #{f_last_name}] сейчас будет приятно.
      | ✊🏻 Эти #{time} мин будут жаркими!
    when 13
      | 💬 [id#{id}|#{first_name} #{last_name}] чуть не пропустил время фапа другу! К [id#{f_id}|#{f_first_name} #{f_last_name}] сейчас придет гость.
      | ✊🏻 Ждем #{time} мин.
    when 14
      | 💬 [id#{id}|#{first_name} #{last_name}] возбудился от сообщений и пошел фапать [id#{f_id}|#{f_first_name} #{f_last_name}].
      | ✊🏻 Ждем #{time} мин.