//- Variables : id, first_name, last_name, time, f_first_name, f_last_name f_id
if fap == "i"
  case template 
    when 1
      | [id#{id}|#{first_name}] решил встряхнуть стариной и погонять свою бибу.
    when 2
      | У [id#{id}|Пажилого] старичка в первые за долгое время появился стояк! Сейчас будет скользко.
    when 3
      | [id#{id}|#{last_name} #{first_name}] решил почесать яйца, но закончилось все началом дрочки.
    when 4
      | О МАЙ ГАД! [id#{id}|#{first_name} #{last_name}] решил погонять свою бибу.
    when 5
      | ЛОХ и Девственник по имени [id#{id}|#{first_name}] решил погонять удава. Лучше бы девушку завел, лошара.
    when 6
      | Молодой [id#{id}|#{last_name}] случайно наткнулся на гей-порно и решил не упоскать момент и подрочить!
    when 7 
      | Всем привет! Меня зовут [id#{id}|#{first_name}] и я пошел дрочить.
    when 8
      | [id#{id}|Уважаемый] заебался сидеть на хую и решил подудишь удава!
    when 9
      | ОСТАНОВИТЕ [id#{id}|ЭТОГО] ЗВЕРЯ, ОН ДРОЧИТ!
    when 10
      | [id#{id}|#{first_name}] отказала девушка.. но рука нет =)
else if fap == "you"
  case template
    when 1
      | [id#{id}|#{first_name}] решил встряхнуть стариной и погонять бибу [id#{f_id}|#{f_first_name}].
    when 2
      | [id#{id}|Пажилой] старичек решил пососать бибу [id#{f_id}|#{f_first_name} #{f_last_name}].
    when 3
      | [id#{id}|#{last_name} #{first_name}] решил почесать яйцо [id#{f_id}|#{last_name}] и был выебан в жопу.
    when 4
      | [id#{id}|Негодник] прокрался в спальню к [id#{f_id}|#{f_first_name}] и погонял ему бибу.
    when 5
      | [id#{id}|#{first_name} #{last_name}] решил помочь лоху и девственнику [id#{f_id}|#{f_first_name}] и задушил его удава. 
