//- Variables : id, first_name, last_name, time, f_first_name, f_last_name f_id
if fap == "i"
  case template 
    when 1
      | [id#{id}|#{first_name}] решил встряхнуть стариной и погонять свою бибу. На дрочку было выделено #{time} мин.
    when 2
      | У [id#{id}|Пажилого] старичка в первые за долгое время появился стояк! Сейчас будет скользко. Стояк продержится #{time} мин.
    when 3
      | [id#{id}|#{last_name} #{first_name}] решил почесать яйца, но закончилось все началом дрочки. Скоро придет, примерно через #{time} мин.
    when 4
      | О МАЙ ГАД! [id#{id}|#{first_name} #{last_name}] решил погонять свою бибу. Но его сил хватит на #{time} мин.
    when 5
      | ЛОХ и Девственник по имени [id#{id}|#{first_name}] решил погонять удава. Лучше бы девушку завел, лошара. 
      | З.Ы Мамка придет через #{time} мин.
    when 6
      | Молодой [id#{id}|#{first_name}] случайно наткнулся на гей-порно и решил не упускать момент и подрочить! Эх.. жаль, что гей-порно идет всего #{time} мин.
    when 7 
      | Всем привет! Меня зовут [id#{id}|#{first_name}] и я пошел дрочить, приду через #{time} мин.
    when 8
      | [id#{id}|Уважаемый] заебался сидеть на хую и решил подудишь удава! Ничего вернется на хуй через #{time} мин.
    when 9
      | ОСТАНОВИТЕ [id#{id}|ЭТОГО] ЗВЕРЯ, ОН НАЧАЛ ДРОЧИТЬ! ЕГО МОЩИ ХВАТИТ НА #{time} мин.
    when 10
      | [id#{id}|#{first_name}] расстроился потому что ему отказала девушка, но рука дала добро. Удачного фапанья. Ждем #{time} мин.
else if fap == "you"
  case template
    when 1
      | [id#{id}|#{first_name}] решил встряхнуть стариной и погонять бибу [id#{f_id}|#{f_first_name}]. Тебе хватит #{time} мин?
    when 2
      | [id#{id}|Пажилой] старичек решил пососать бибу [id#{f_id}|#{f_first_name} #{f_last_name}]. Уверен на 100%, что его хватит на #{time} мин.
    when 3
      | [id#{id}|#{last_name} #{first_name}] решил почесать яйцо [id#{f_id}|#{f_first_name}] и был выебан в жопу. Ебля закончится через #{time} мин.
    when 4
      | [id#{id}|Негодник] прокрался в спальню к [id#{f_id}|#{f_first_name}] и начал гонять ему бибу. У ТЕБЯ ЕСТЬ #{time} МИН!!
    when 5
      | [id#{id}|#{first_name} #{last_name}] решил помочь лоху и девственнику [id#{f_id}|#{f_first_name}] и задушил его удава. Удав задушится через #{time} мин.
    when 6
      | Всем привет! Меня зовут [id#{id}|#{first_name}] и я пошел дрочить [id#{f_id}|#{f_first_name}]. Ждите нас через #{time} мин.
    when 7
      | [id#{id}|#{first_name}] устал фапать себе и пошел наяривать [id#{f_id}|#{f_first_name}]. Эти #{time} мин будут жаркими!
    when 8
      | Не, ну ты [id#{id}|Гэй]. Зачем ты гоняешь фапаешь [id#{f_id}|#{f_first_name}]? Этого гея хватит на #{time} мин.
    when 9
      | ОСТАНОВИТЕ [id#{id}|ЭТОГО] ЗВЕРЯ, ОН ТАК ЯРОСТНО НАЧАЛ ДРОЧИТЬ ЭТОМУ [id#{f_id}|БЫДЛУ]! ЭТОГО ЗВЕРЯ ХВАТИТ ПРИМЕРНО НА #{time} мин.
    when 10
      | [id#{id}|#{first_name}] решил стать пипидастером и пошел гонять бибу [id#{f_id}|#{f_first_name}]. Гэи вернутся через #{time} мин.
