//- Variables : id, first_name, last_name, time, dick, ran_id ,random_user - это имя 
if fap == "i"
  case template 
    when 1
      | 💬 [id#{id}|#{last_name} #{first_name}] обкончал весь монитор
      | и получил 🔥 +#{dick} см.
    when 2
      | 💬 Молодой [id#{id}|#{first_name} #{last_name}] во время дрочки использовал кружку с губками и это сыграло ему на руку! 
      | 🔥 +#{dick} см!
    when 3
      | 💬 Поздравляю [id#{id}|#{first_name} #{last_name}], ты смог сделать свои бибные дела! 
      | 🔥 +#{dick} см.
    when 4
      | 💬 🔥 +#{dick} см получает [id#{id}|#{last_name} #{first_name}] за хорошую бибную дрочку.
    when 5
      | 💬 [id#{id}|#{last_name} #{first_name}] со скоростью метеорита запустил свое семя на марс!
      | 🔥 +#{dick} см.
    when 6
      | 💬 [id#{id}|#{last_name} #{first_name}] наконец-то закончил просмотр хентая!
      | 🔥 +#{dick} см.
    when 7
      | 💬 [id#{id}|#{last_name} #{first_name}] так яросно гонял бибу, что кончил себе в глаз!
      | 🔥 +#{dick} см.
    when 8
      | 💬 [id#{id}|#{last_name} #{first_name}] с помощью кота смог сделать свои дела!
      | 🔥 +#{dick} см.
    when 9
      | 💬 [id#{id}|#{last_name} #{first_name}] чуть не лишился руки! Но смог закончить дело.
      | 🔥 +#{dick} см.
    when 10
      | 💬 Было сложно, но [id#{id}|#{last_name} #{first_name}] пульнул свое семя!
      | 🔥 +#{dick} см.
else if fap == "you"
  case template 
    when 1
      | 💬 [id#{id}|#{last_name} #{first_name}] наконец-то подрочил [id#{friend.id}|другу]. 
      | [id#{friend.id}|#{friend.first_name} #{friend.last_name}] твоя биба увеличилась на 🔥 +#{dick} см.
    when 2
      | 💬 Молодой [id#{id}|#{first_name} #{last_name}] был выебал в жопу, 
      | а [id#{friend.id}|#{friend.first_name} #{friend.last_name}] получает 🔥 +#{dick} см.
    when 3
      | 💬 Поздравляю [id#{id}|#{first_name} #{last_name}], ты смог довести до оргазма своего [id#{friend.id}|партнера], 
      | [id#{friend.id}|#{friend.first_name} #{friend.last_name}] получает 🔥 +#{dick} см.
    when 4
      | 💬 🔥 +#{dick} см получает партнер [id#{friend.id}|#{friend.first_name} #{friend.last_name}]. А [id#{id}|#{last_name} #{first_name}] получает на лицо.
    when 5
      | 💬 [id#{id}|#{last_name} #{first_name}] так страстно фапал, что [id#{friend.id}|#{friend.first_name} #{friend.last_name}] запустил свое семя на марс!
      | 🔥 +#{dick} получает [id#{friend.id}|#{friend.first_name} #{friend.last_name}]
    when 6
      | 💬 [id#{id}|#{last_name} #{first_name}] и [id#{friend.id}|#{friend.first_name} #{friend.last_name}] закончили просмотр хентая!
      | 🔥 +#{dick} получает [id#{friend.id}|#{friend.first_name} #{friend.last_name}]
    when 7
      | 💬 [id#{friend.id}|#{friend.first_name} #{friend.last_name}] так хорошо кончил, что [id#{id}|#{last_name} #{first_name}] упал врот на бибу!
      | 🔥 +#{dick} получает [id#{friend.id}|#{friend.first_name} #{friend.last_name}]
    when 8
      | 💬 [id#{id}|#{last_name} #{first_name}] и [id#{friend.id}|#{friend.first_name} #{friend.last_name}] досмотрели гей-порно!
      | 🔥 +#{dick} получает [id#{friend.id}|#{friend.first_name} #{friend.last_name}]
    when 9
      | 💬 [id#{id}|#{last_name} #{first_name}] чуть не лишился руки, но [id#{friend.id}|#{friend.first_name} #{friend.last_name}] все таки смог!
      | 🔥 +#{dick} получает [id#{friend.id}|#{friend.first_name} #{friend.last_name}]
    when 10
      | 💬 [id#{id}|#{last_name} #{first_name}] и [id#{friend.id}|#{friend.first_name} #{friend.last_name}] хорошо провели время!
      | 🔥 +#{dick} получает [id#{friend.id}|#{friend.first_name} #{friend.last_name}]
