//- Variables : id, first_name, last_name, time, dick, ran_id ,random_user - это имя 

case template 
  when 1
    | [id#{id}|#{last_name} #{first_name}] обкончал весь монитор и получил +#{dick} см.
  when 2
    | [id#{id}|Молодой #{last_name}] во время дрочки нашел подушку и это сыграло ему на руку! +#{dick} см!
  when 3
    | Поздравляем [id#{id}|#{first_name}] он смог сделать свои скользкие дела! +#{dick} см.
  when 4
    | +#{dick} см получает [id#{id}|#{last_name} #{first_name}] за хорошую бибную дрочку.
