
| 햓햟 먫왏좜햦햫햡 향햟 쒬햣 쒬햣햪혪!

- for ( let i = 0; i < users.length; i++ )
  case i
    when 1
      | 1. 游녬[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{users[i].fap} 햟향
    when 2
      | 2. 游볞[id#{users[1].id}|#{users[1].first_name} #{users[1].last_name}]. 쮐햟햟햩 : #{users[1].fap} 햟향
    when 3
      | 3. 游볟[id#{users[2].id}|#{users[2].first_name} #{users[2].last_name}]. 쮐햟햟햩 : #{users[2].fap} 햟향
    when 4
      | 4. 游볠[id#{users[3].id}|#{users[3].first_name} #{users[3].last_name}]. 쮐햟햟햩 : #{users[3].fap} 햟향
    when 5
      | 5. 游볠[id#{users[4].id}|#{users[4].first_name} #{users[4].last_name}]. 쮐햟햟햩 : #{users[4].fap} 햟향
    when 6
      | 6. 游꿌[id#{users[5].id}|#{users[5].first_name} #{users[5].last_name}]. 쮐햟햟햩 : #{users[5].fap} 햟향
    when 7
      | 7. 游꿌[id#{users[6].id}|#{users[6].first_name} #{users[6].last_name}]. 쮐햟햟햩 : #{users[6].fap} 햟향
    when 8
      | 8. 游꿌[id#{users[7].id}|#{users[7].first_name} #{users[7].last_name}]. 쮐햟햟햩 : #{users[7].fap} 햟향
    when 9
      | 9. 游꿌[id#{users[8].id}|#{users[8].first_name} #{users[8].last_name}]. 쮐햟햟햩 : #{users[8].fap} 햟향
    when 10
      | 10. 游꿌[id#{users[9].id}|#{users[9].first_name} #{users[9].last_name}]. 쮐햟햟햩 : #{users[9].fap} 햟향
