//- Variables : id, first_name, last_name, template

case template
  when 1
    | [id#{user.id}|#{user.first_name}] поздравляю, у вас выросла биба!
  when 2
    | Новый бибер! Он попросил звать его [id#{user.id}|Петух].
  when 3
    | Ну привет, [id#{user.id}|#{user.first_name}]. Начинай гонять бибу!
  when 4
    | [id#{user.id}|#{user.last_name} #{user.first_name}] вступил в ряды биберов!
  when 5
    | У [id#{user.id}|Шизоида] зачасались яйца! Он начинает свою бибовую карьеру.
