
| 游눫 햓햟 먫왏좜햦햫햡 향햟 쒬햣 쒬햣햪혪! <br><br>

- for ( let i = 0; i < users.length; i++ )
  - var fapin = plural(users[i].fap, '%d 햟향', '%d 햟향햟', '%d 햟향');
  case i
    when 0
      | 1. 游녬[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 1
      | 2. 游볞[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 2
      | 3. 游볟[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 3
      | 4. 游볠[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 4
      | 5. 游볠[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 5
      | 6. 游꿌[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 6
      | 7. 游꿌[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 7
      | 8. 游꿌[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 8
      | 9. 游꿌[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
    when 9
      | 10. 游꿌[id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. 쮐햟햟햩 : #{fapin} <br>
