
| 💬 Локальный рейтинг по дрочкоинам на данный момент! <br><br>

- for ( let i = 0; i < users.length; i++ )
  - var money = plural(users[i].money, '%d дрочкоин', '%d дрочкоина', '%d дрочкоинов');
  - var place = offset + i + 1;
  case i
    when 0
     | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{money} <br>
    when 1
     | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{money} <br>
    when 2
     | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{money} <br>
    when 3
     | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{money} <br>
    when 4
     | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{money} <br>

