| 💬 Локальный рейтинг см бибы за все время! <br><br>

- for ( let i = 0; i < users.length; i++ )
    - var record_biba = plural(users[i].record_biba, '%d см', '%d см', '%d см');
    - var place = offset + i + 1;
    case i
     when 0
        | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{record_biba} <br>
     when 1
        | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{record_biba} <br>
     when 2
        | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{record_biba} <br>
     when 3
        | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{record_biba} <br>
     when 4
        | #{place}. [id#{users[i].id}|#{users[i].first_name} #{users[i].last_name}]. Биба :  #{record_biba} <br>