case template
    when 1
        | Споки [id#{user.id}|#{user.first_name}] 💤
    when 2
        | Доброй ночи [id#{user.id}|#{user.first_name}] 💭
    when 3
        | Спокойной ночи [id#{user.id}|#{user.first_name}] ❤
    when 4
        | Сладких снов [id#{user.id}|#{user.first_name}] ⭐
    when 5
        | Спок [id#{user.id}|#{user.first_name}] ✨