| 💬 Информация о боте
|
| 👫 Количество участников - #{users}
| 📣 Количество бесед - #{conversations}
| ✊🏻 Количество всех фапов - #{faps}
| 🔥 Количество всех бибонов - #{bibons}
| 🥖 Длина всех биб - #{all_bibs} м.
|
| ✔ Поднято см на бибонах - #{sm_plus}
| ⛔ Проигранно см на бибонах - #{sm_minus}
|
| ✔ Выигранных бибонов - #{bibon_plus}
| ⛔ Проигранных бибонов - #{bibon_minus}
