| 💬 Информация о боте
|
| 👫 Количество участников - #{users} ( #{active_users}/#{zero_users} )
| 📣 Количество бесед - #{conversations}
|
| ✊🏻 Количество всех фапов - #{faps}
| 🔥 Количество всех бибонов - #{bibons}
| 💥 Количество всех бигбонов - #{bigbons}
| 🥖 Длина всех биб - #{all_bibs} м.
|
| ✔ Выигранных бибонов - #{bibon_plus} ( +#{sm_plus} см. )
| ⛔ Проигранных бибонов - #{bibon_minus} ( -#{sm_minus} см. )
|
| ✔ Выигранных бигбонов - #{bigbons_plus} ( +#{big_sm_plus} см. )
| ⛔ Проигранных бигбонов - #{bigbons_minus} ( -#{big_sm_minus} см. )
