case shop
  when "item_purchased"
    | ✔ Товар куплен!
    | 💦 Осталось #{money} дк
  when "exit_shop"
    | 💡 Вы покинули магазин!
  when "not_money"
    | ⛔ Для покупки тебе нехватает #{not_money} дк
    | 💡 У тебя #{money} дк
  when "max_count"
    | ⛔ Достигнут максимум предметов
    | 💡 Всего можно купить #{count}
  when "not_product"
    | ⛔ Товар закончился на складах
    | 💡 Всего можно было купить #{count}
  when "not_allow"
    | ⛔ Товар заблокирован для покупки
    | 💡 Спрашивай у админов, че за херня
  when "error_buy"
    | ⛔ Ошибка при покупке
    | 💡 Самое время написать админам, такого быть не должно =)
  when "error_catalog"
    | ⛔ Ошибка при покупке
    | 💡 Самое время написать админам, такого быть не должно =)
  when "error_product"
    | ⛔ Ошибка при покупке
    | 💡 Самое время написать админам, такого быть не должно =)
  when "error_buy_product"
    | ⛔ Ошибка при покупке
    | 💡 Самое время написать админам, такого быть не должно =)
  when "max_items"
    | ⛔ Ошибка при покупке
    | 💡 Самое время написать админам, такого быть не должно =)
  when "low_coins"
    | ⛔ Ошибка при покупке
    | 💡 Самое время написать админам, такого быть не должно =)
