//-  user1 - имен.
//-  user2 - род.
case template
  when 1
    | 💬 Итог битвы.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] произнес omae wa mou shindeiru и чуть ли не прикончил [id#{user2.id}|#{user2.first_name} #{user2.last_name}]!
    | Надеюсь он еще вернется на поле боя.. 
  when 2
    | 💬 Итог битвы.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] достал биту и ударил [id#{user2.id}|#{user2.first_name} #{user2.last_name}] прямо в челюсть!
    | Оу.. минус 3 зуба.
  when 3
    | 💬 Итог битвы.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] достал шпагу и пронзал живот [id#{user2.id}|#{user2.first_name} #{user2.last_name}] 27 раз. Затем [id#{user1.id}|#{user1.first_name}] оторвал руку у [id#{user2.id}|#{user2.first_name}] и сожрал ее!
    | Ну и мерзость..
  when 4
    | 💬 Итог битвы.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] облил кислотой [id#{user2.id}|#{user2.first_name} #{user2.last_name}] и выиграл этот батл!
    | Ух.. кажется я вижу кости и боль.
  when 5
    | 💬 Итог битвы.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] на последок натравил на [id#{user2.id}|#{user2.first_name} #{user2.last_name}] стаю волков и выиграл этот турнир!
    | [id#{user1.id}|#{user1.first_name}] зачем так жестоко?
    
| <br> <br>
if result == 1 
  | ✔ [id#{user1.id}|#{user1.first_name}] получает +#{biba} см! <br>
if result == 0 
  | ⛔ У [id#{user2.id}|#{user2.first_name}] биба -#{biba} см! <br>
| 🥖 Твоя биба : #{user_biba} см.
|
if money != 0 
  | 💰 +#{money} Фап коинов.
