//-  user1 - имен.
//-  user2 - род.
case template
  when 1
    | 💬 Эпичный поединок.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] вызвал на бой [id#{user2.id}|#{user2.first_name} #{user2.last_name}]!
    | Сейчас будет жарко!🔥
  when 2
    | 💬 Эпичный поединок.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] вспомнил, что надо нагнуть [id#{user2.id}|#{user2.first_name} #{user2.last_name}], ведь тот ему торчит 2 см!
    | Делаем ставки господа.🔥
  when 3
    | 💬 Эпичный поединок.
    | ЧЕ КАВО [id#{user1.id}|#{user1.first_name} #{user1.last_name}] РЕШИЛ ПРОУЧИТЬ [id#{user2.id}|#{user2.first_name} #{user2.last_name}] ЗА ЕГО БОЛЬШУЮ БИБУ!
    | КТО КОГО, А..?🔥
  when 4
    | 💬 Эпичный поединок.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] поспорил на 10 см, что уложит спать [id#{user2.id}|#{user2.first_name} #{user2.last_name}]!
    | Готовы смотреть на петушиный бой?🔥
  when 5
    | 💬 Эпичный поединок.
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] на глазах у девушки решил унизить [id#{user2.id}|#{user2.first_name} #{user2.last_name}]!
    | Мда.. только перед девушками и можешь красоваться.🔥
