//- user1 - имен.
//- user2 - дат.
case template
    when 1
        | 💬 Четвертый удар!
        | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] стало не страшно, [id#{user1.id}|#{user1.first_name} #{user1.last_name}] трансформировался в биба-машину и готов атаковать!
    when 2
        | 💬 Четвертый удар!
        | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] начинает наяривать на поле боя, скоро [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется уворачиваться от обстрела!
    when 3
        | 💬 Четвертый удар!
        | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] начинает показывать какие каратэ приемы.. Каво? [id#{user2.id}|#{user2.first_name} #{user2.last_name}] стало даже немного смешно!
    when 4
        | 💬 Четвертый удар!
        | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] будет сейчас больно, ведь [id#{user1.id}|#{user1.first_name} #{user1.last_name}] начинает снимать штаны!
    when 5
        | 💬 Четвертый удар!
        | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] со спутника запустил спермозалп. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется уворачиваться!