if type == "lose"
  case template
    when 1
      | Собрав силы Цонь Джуа в своей чакре, [id#{user1.id}|#{user1.last_name} #{user1.first_name}] потребовалась 1 секунда чтобы выплюнуть великие силы ада.
      | Но юркий [id#{user2.id}|#{user2.first_name}] в последний момент отскочил от всезжигающего луча огня, и перенапавил его обратно.
      | ⛔-#{user1.hp} очков жизни.
    when 2
      | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] сегодня очень везло, на земле он нашел огромный железный меч. [id#{user1.id}|#{user1.first_name}] хотел уже воспользоваться им, но сильная рука [id#{user2.id}|соперника] остановила его. [id#{user2.id}|#{user2.first_name}] пронзав [id#{user1.id}|#{user1.first_name} #{user1.last_name}] живот.
      | ⛔-#{user1.hp} очков жизни.
    when 3
      | Взяв в руки первый попавшийся в руки предмет, [id#{user1.id}|ты] направился атаковать [id#{user1.id}|противника], но он воспользовался секретным приёмом и отправил [id#{user1.id}|тебя] в нокаут.
      | ⛔-#{user1.hp} очков жизни.
    when 4
      | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] отбил все атаки [id#{user1.id}|противника], и во время боя начал вставать в секретную стойку. Молниеносно [id#{user2.id}|#{user2.first_name}] встал в стойку и ударил [id#{user1.id}|#{user1.last_name} #{user1.first_name}] по лбу. Ух.. это было что-то.
      | ⛔-#{user1.hp} очков жизни.
    when 5
      | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] достал щит и [id#{user1.id}|#{user1.first_name} #{user1.last_name}] не поздаровилось, ведь его атаки были не эффективно! [id#{user1.id}|#{user1.last_name} #{user1.first_name}] пришлось отступать, но этот [id#{user1.id}|неудачник] поскальзнулся на грязи! [id#{user2.id}|#{user2.first_name} #{user2.last_name}] достал меч и нанес [id#{user1.id}|#{user1.first_name} #{user1.last_name}] серию ударов!
      | ⛔-#{user1.hp} очков жизни.
else if type == "win"
  case template
    when 1
      | Собрав силы Цонь Джуа в своей чакре, [id#{user1.id}|#{user1.last_name} #{user1.first_name}] потребовалась 1 секунда чтобы выплюнуть великие силы ада.
      | [id#{user2.id}|#{user2.first_name}] не успел среагировать и получил всезжигающий луч огня в лицо.
      | ✔ -#{user2.hp} жизней.
    when 2
      | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] сегодня очень везло, на земле он нашел огромный железный меч. [id#{user1.id}|#{user1.first_name}] воспользоваться им, и его [id#{user2.id}|соперник] получил пару ранений.
      | ✔ -#{user2.hp} очков жизни.
    when 3
      | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] как танк впитывал все удары в себя, но он забыл защитить спину!
      | ✔ -#{user2.hp} очков жизни.
    when 4
      | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] выпил баночку томатного сока и восстановил немного здоровья, но это не помогло ему отразить все атаки и [id#{user2.id}|#{user2.first_name}] получил в челюсть. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] начало казаться, что он уже победил!
      | ✔ -#{user2.hp} очков жизни.
    when 5
      | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] во время атаки пришла в голову идея сделать подлый удар в пах.. и это сработало! 
      | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] получил травму на всю жизнь и потрерял ✔ -#{user2.hp} очков жизни. 
