//- user1 - имен.
//- user2 - дат.
case template
  when 1
    | 💬 Четвертый удар!
    | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] стало не по себе, ведь [id#{user1.id}|#{user1.first_name} #{user1.last_name}] трансформировался в большую биба-машину!
  when 2
    | 💬 Четвертый удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] начинает заряжать дробовик, скоро [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется уворачиваться от обстрела!
  when 3
    | 💬 Четвертый удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] начинает показывать какие каратэ приемы.. Каво? [id#{user2.id}|#{user2.first_name} #{user2.last_name}] стало даже немного смешно!
  when 4
    | 💬 Четвертый удар!
    | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] будет сейчас больно, ведь [id#{user1.id}|#{user1.first_name} #{user1.last_name}] начинает замахиваться!
  when 5
    | 💬 Четвертый удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] запустил атаку с космоса. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется уворачиваться!

