//- user1 - имен.
//- user2 - дат.
case template
  when 1
    | 💬 Первый удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] решил нанести [id#{user2.id}|#{user2.first_name} #{user2.last_name}] удар в спину!
  when 2
    | 💬 Первый удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] задумал в прыжке ударить [id#{user2.id}|#{user2.first_name} #{user2.last_name}] бибой по лбу!
  when 3
    | 💬 Первый удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] выпил виагры что бы нанести [id#{user2.id}|#{user2.first_name} #{user2.last_name}] критический удар!
  when 4
    | 💬 Первый удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] прицелился [id#{user2.id}|#{user2.first_name} #{user2.last_name}] на пердак и кинул фалос!
  when 5
    | 💬 Первый удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] кинул камень [id#{user2.id}|#{user2.first_name} #{user2.last_name}] в голову!
    
    
