//- user1 - дат.
//- user2 - имен.
if type == "lose"
    case template
        when 1
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] отскочил от удара и надорвал [id#{user1.id}|#{user1.first_name} #{user1.last_name}] жопу!
            | ⛔-#{user1.hp} очков жизни.
        when 2
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] впитал всю атаку своей жопой и ударил [id#{user1.id}|#{user1.first_name} #{user1.last_name}] по жопе!
            | ⛔-#{user1.hp} очков жизни.
        when 3
            | [id#{user1.id}|Лошара] промахнулся и теперь [id#{user2.id}|#{user2.first_name} #{user2.last_name}] готов прописать [id#{user1.id}|#{user1.last_name} #{user1.first_name}] смачного поджопника!
            | ⛔-#{user1.hp} очков жизни.
        when 4
            | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] нужно сходить к окулисту, ведь он начал атаковать не того! Не, ну ты [id#{user1.id}|Лошара]. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] произнес заклинание и жопу его [id#{user1.id}|соперника] пронзало 100 сантиметровое дилдо!
            | ⛔-#{user1.hp} очков жизни.
        when 5
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] отпрыгнул от удара и нанес [id#{user1.id}|#{user1.first_name} #{user1.last_name}] серию бибных ударов!
            | ⛔-#{user1.hp} очков жизни.
if type == "win"
    case template
        when 1
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] не успел ничего сделать и получил по лбу!
            | ✔ -#{user2.hp} очков жизни.
        when 2
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] хотел увернуться как нео, но ты не нео и получил
            |  ✔ #{user2.hp} урона.
        when 3
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] подумал, что у него стольная биба и попытался отразить атаку, но что-то пошло не так.
            | ✔ -#{user2.hp} очков жизни.
        when 4
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] отражая атаку поскальзнулся на говне своего [id#{user1.id}|оппонента] и упал жопой на камень.
            | ✔ -#{user2.hp} очков жизни.
        when 5
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] решил, что он танк и принял атаку, но ты не танк..
            | ✔ -#{user2.hp} очков жизни.
