if type == "lose"
    case template
        when 1
            | Собрав силы Цонь Джуа в своем анальном отверстии, [id#{user1.id}|#{user1.last_name} #{user1.first_name}] потребовалась 1 секунда чтобы выплюнуть великие силы ада.
            | Но юркий [id#{user2.id}|#{user2.first_name}] в последний момент отскочил от всезжигающего луча говна, и перенапавил его обратно.
            | ⛔-#{user1.hp} жизней.
        when 2
            | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] сегодня очень везло, на земле он нашел огромный железный фалос. [id#{user1.id}|#{user1.first_name}] хотел уже воспользоваться им, но сильная рука [id#{user2.id}|соперника] остановила его. [id#{user2.id}|#{user2.first_name}] засунул этот фалос [id#{user1.id}|#{user1.first_name} #{user1.last_name}] прямо в жопу.
            | ⛔-#{user1.hp} жизней.
        when 3
            | Взяв в руки проходящего мимо животного, [id#{user1.id}|ты] направился пиздить своего [id#{user1.id}|противника], но он воспользовался секретным приёмом и выебал [id#{user1.id}|тебя].
            | ⛔-#{user1.hp} жизней.
        when 4
            | Сокрушающий удар из секретной книги по 101 позе для секса, был перехвачен жопой [id#{user2.id}|оппонента] и использован против тебя!
            | ⛔-#{user1.hp} жизней.
        when 5
            | [id#{user1.id}|Ты] начал крутить вертолетик своим хуем, но твой [id#{user2.id}|соперник] был слишком тяжелый, поэтому спокойно подошел и откусил тебе хуй.
            | ⛔-#{user1.hp} жизней.
else if type == "win"
    case template
        when 1
            | Собрав силы Цонь Джуа в своем анальном отверстии, [id#{user1.id}|#{user1.last_name} #{user1.first_name}] потребовалась 1 секунда чтобы выплюнуть великие силы ада.
            | [id#{user2.id}|#{user2.first_name}] охуел от происходящего и его ебало превратилось а кашу из говна.
            | ✔ -#{user2.hp} жизней.
        when 2
            | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] сегодня очень везло, на земле он нашел огромный железный фалос. [id#{user1.id}|#{user1.first_name}] воспользоваться им, и его [id#{user2.id}|соперник] был жестоко выебан в жопу.
            | ✔ -#{user2.hp} жизней.
        when 3
            | Удар был настолько сильным что у [id#{user2.id}|соперника] отвалилась почти вся биба.
            | ✔ -#{user2.hp} жизней.
        when 4
            | Сокрушающий удар из секретной книги по 101 позе для секса, пришелся [id#{user2.id}|врагу] прям по заднице.
            | ✔ -#{user2.hp} жизней.
        when 5
            | [id#{user1.id}|Ты] начал крутить вертолетик своим хуем, и твоего [id#{user2.id}|соперника] просто сдуло нахуй.
            | ✔ -#{user2.hp} жизней.
