//- user1 - имен.
//- user2 - дат.
case template
    when 1
        | 💬 Второй удар!
        | После такого неожиданного поворота [id#{user1.id}|#{user1.first_name} #{user1.last_name}] выпил зелье силы и попытался прописать [id#{user2.id}|#{user2.first_name} #{user2.last_name}] в живот!
    when 2
        | 💬 Второй удар!
        | После пары поджопников [id#{user1.id}|#{user1.last_name} #{user1.first_name}] взял фалос и попытался засунуть его [id#{user2.id}|#{user2.first_name} #{user2.last_name}] в жопу!
    when 3
        | 💬 Второй удар!
        | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] замахнулся бибой. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется постараться что бы увернуться!
    when 4
        | 💬 Второй удар!
        | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] скользит на говне c фасолом в руке прямиком к [id#{user2.id}|#{user2.first_name} #{user2.last_name}]!
    when 5
        | 💬 Второй удар!
        | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] начал молиться фап-Богу. Скоро начнется белый дождь! [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется что-то с этим делать, а не то проиграет!

