//- user1 - имен.
//- user2 - дат.
case template
  when 1
    | 💬 Третий удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] достает из кармана телефон и вызывает аирдроп. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] будет тяжко!
  when 2
    | 💬 Третий удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] встает в стойку Кунфу Панды. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] стало не по себе!
  when 3
    | 💬 Третий удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] достает из кустов тесак и направился к [id#{user2.id}|#{user2.first_name} #{user2.last_name}].
  when 4
    | 💬 Третий удар!
    | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] сейчас будет испытывать ушную боль, ведь [id#{user1.id}|#{user1.first_name} #{user1.last_name}] начинает кричать как сирена!
  when 5
    | 💬 Третий удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] вызвал атаку со спутника. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется уворачиваться!
    
