if type == "lose"
  case template
    when 1
      | Собрав силы Цонь Джуа в своей чакре, [id#{user1.id}|#{user1.last_name} #{user1.first_name}] потребовалась 1 секунда чтобы выплюнуть великие силы ада.
      | Но юркий [id#{user2.id}|#{user2.first_name}] в последний момент отскочил от всезжигающего луча огня, и перенапавил его обратно.
      | ⛔-#{user1.hp} жизней.
    when 2
      | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] сегодня очень везло, на земле он нашел огромный железный меч. [id#{user1.id}|#{user1.first_name}] хотел уже воспользоваться им, но сильная рука [id#{user2.id}|соперника] остановила его. [id#{user2.id}|#{user2.first_name}] пронзал [id#{user1.id}|#{user1.first_name} #{user1.last_name}] живот.
      | ⛔-#{user1.hp} жизней.
    when 3
      | Взяв в руки попавшийся в руку предмет, [id#{user1.id}|ты] направился атаковать [id#{user1.id}|противника], но он воспользовался секретным приёмом и отразил атаку.
      | ⛔-#{user1.hp} жизней.
    when 4
      | Сокрушающий удар из секретной книги по 101 позе для секса, был перехвачен [id#{user2.id}|оппонентом] и использован против тебя!
      | ⛔-#{user1.hp} жизней.
    when 5
      | [id#{user1.id}|Ты] начал крутить вертолетик своими руками, но твой [id#{user2.id}|соперник] был слишком тяжелый, поэтому спокойно подошел под удар и сломал [id#{user1.id}|Тебе] руку.
      | ⛔-#{user1.hp} жизней.
else if type == "win"
  case template
    when 1
      | Собрав силы Цонь Джуа в своей чакре, [id#{user1.id}|#{user1.last_name} #{user1.first_name}] потребовалась 1 секунда чтобы выплюнуть великие силы ада.
      | [id#{user2.id}|#{user2.first_name}] неуспел среагировать и получил всежигающий луч огня в лицо.
      | ✔ -#{user2.hp} жизней.
    when 2
      | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] сегодня очень везло, на земле он нашел огромный железный меч. [id#{user1.id}|#{user1.first_name}] воспользоваться им, и его [id#{user2.id}|соперник] получил пару ранений.
      | ✔ -#{user2.hp} жизней.
    when 3
      | Удар был настолько сильным что [id#{user2.id}|соперник] потерял почти все жизни.
      | ✔ -#{user2.hp} жизней.
    when 4
      | Сокрушающий удар из секретной книги по 101 позе для секса, пришелся [id#{user2.id}|врагу] прям по заднице.
      | ✔ -#{user2.hp} жизней.
    when 5
      | [id#{user1.id}|Ты] начал крутить вертолетик своими руками, и твоего [id#{user2.id}|соперника] просто сдуло в яму с шипами.
      | ✔ -#{user2.hp} жизней.
