case template
    when 1
        | 💬 Пятый удар!
        | [id#{user1.id}|Ты] начинаешь медленно ходить вокруг своего [id#{user2.id}|врага], и скоро собираешься напасть на него...
    when 2
        | 💬 Пятый удар!
        | Надсадно крехтя и облизывая свой карманный дилдо, [id#{user1.id}|ты] обдумываешь план захвата жопы [id#{user2.id}|оппонента].
    when 3
        | 💬 Пятый удар!
        | [id#{user1.id}|Ты] начинаешь рычать как лев, и [id#{user2.id}|#{user2.first_name} #{user2.last_name}] будет сейчас больно!
    when 4
        | 💬 Пятый удар!
        | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] нашел у себя в жопе 2 пистолета, [id#{user2.id}|#{user2.first_name} #{user2.last_name}] будет сейчас больно!
    when 5
        | 💬 Пятый удар!
        | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] обнаружил у себя в жопе шпагу. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется уворачиваться!
