if type == "lose"
    case template
        when 1
            | Собрав силы Цонь Джуа в своем анальном отверстии, [id#{user1.id}|#{user1.last_name} #{user1.first_name}] потребовалась 1 секунда чтобы выплюнуть великие силы ада.
            | Но юркий [id#{user2.id}|#{user2.first_name}] в последний момент отскочил от всезжигающего луча говна, и перенапавил его обратно.
            | ⛔-#{user1.hp} очков жизни.
        when 2
            | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] сегодня очень везло, на земле он нашел огромный железный фалос. [id#{user1.id}|#{user1.first_name}] хотел уже воспользоваться им, но сильная рука [id#{user2.id}|соперника] остановила его. [id#{user2.id}|#{user2.first_name}] засунул этот фалос [id#{user1.id}|#{user1.first_name} #{user1.last_name}] прямо в жопу.
            | ⛔-#{user1.hp} очков жизни.
        when 3
            | Взяв в руки проходящего мимо животного, [id#{user1.id}|ты] направился пиздить своего [id#{user1.id}|противника], но он воспользовался секретным приёмом и выебал [id#{user1.id}|тебя].
            | ⛔-#{user1.hp} очков жизни.
        when 4
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] отбил все атаки [id#{user1.id}|противника], и во время боя начал фапать. Молниеносно [id#{user2.id}|#{user2.first_name}] завершил свое дело и начал шмалять по [id#{user1.id}|#{user1.last_name} #{user1.first_name}]. Ух.. это было что-то.
            | ⛔-#{user1.hp} очков жизни.
        when 5
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] достал из жопы щит и [id#{user1.id}|#{user1.first_name} #{user1.last_name}] не поздаровилось, ведь его атаки были не эффективно! [id#{user1.id}|#{user1.last_name} #{user1.first_name}] пришлось отступать, но этот [id#{user1.id}|неудачник] поскальзнулся на своем же говне! [id#{user2.id}|#{user2.first_name} #{user2.last_name}] достал бибу и нанес [id#{user1.id}|#{user1.first_name} #{user1.last_name}] серию ударов!
            | ⛔-#{user1.hp} очков жизни.
else if type == "win"
    case template
        when 1
            | Собрав силы Цонь Джуа в своем анальном отверстии, [id#{user1.id}|#{user1.last_name} #{user1.first_name}] потребовалась 1 секунда чтобы выплюнуть великие силы ада.
            | [id#{user2.id}|#{user2.first_name}] охуел от происходящего и его ебало превратилось а кашу из говна.
            | ✔ -#{user2.hp} жизней.
        when 2
            | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] сегодня очень везло, на земле он нашел огромный железный фалос. [id#{user1.id}|#{user1.first_name}] воспользоваться им, и его [id#{user2.id}|соперник] был жестоко выебан в жопу.
            | ✔ -#{user2.hp} очков жизни.
        when 3
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] как танк впитывал все удары в себя, но он забыл защитить жопу!
            | ✔ -#{user2.hp} очков жизни.
        when 4
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] высосал баночку соплей и восстановил немного здоровья, но это не помогло ему отразить все атаки и [id#{user2.id}|#{user2.first_name}] получил в рот. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] начало казаться, что он уже победил!
            | ✔ -#{user2.hp} очков жизни.
        when 5
            | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] во время атаки пришла в голову идея сделать подлый удар в пах.. и это сработало!
            | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] получил травму на всю жизнь и потрерял ✔ -#{user2.hp} очков жизни.
