//- user1 - имен.
//- user2 - дат.
case template
  when 1
    | 💬 Третий удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] достает из кармана телефон и вызывает аирдроп. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] будет тяжко!
  when 2
    | 💬 Третий удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] встает в стойку бомжа-гомосека и готов рвать [id#{user2.id}|#{user2.first_name} #{user2.last_name}] жопу!
  when 3
    | 💬 Третий удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] достает из кустов бибоновую булаву и направился бить ебало [id#{user2.id}|#{user2.first_name} #{user2.last_name}].
  when 4
    | 💬 Третий удар!
    | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] будет сейчас больно, ведь [id#{user1.id}|#{user1.first_name} #{user1.last_name}] начинает снимать штаны!
  when 5
    | 💬 Третий удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] со спутника запустил спермозалп. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется уворачиваться!
    
