//- user1 - имен.
//- user2 - дат.
case template
  when 1
    | 💬 Последний удар!
    | [id#{user1.id}|#{user1.first_name} #{user1.last_name}] понял, что пора заканчивать этот бой.. и достал лук и прицелился [id#{user2.id}|#{user2.first_name} #{user2.last_name}] в глаз.
  when 2
    | 💬 Последний удар!
    | [id#{user2.id}|#{user2.first_name} #{user2.last_name}] пришла в голову идея, как завершить этот бой, но [id#{user1.id}|#{user1.first_name} #{user1.last_name}] уже был сзади...
  when 3
    | 💬 Последний удар!
    | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] начинает кастовать что-то страшное! [id#{user2.id}|#{user2.first_name} #{user2.last_name}] нужно что-то предпринять!
  when 4
    | 💬 Последний удар! 
    | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] обмазался грязью и вооружился палкой и начал свое наступление! Походу [id#{user2.id}|#{user2.first_name} #{user2.last_name}] конец!
  when 5
    | 💬 Последний удар!
    | [id#{user1.id}|#{user1.last_name} #{user1.first_name}] свистнул и призвал небольшой отряд волков. [id#{user2.id}|#{user2.first_name} #{user2.last_name}] придется убежать с позором или же.. он нанесет ответный удар!
    
