case template
    when 1
        | Я думал [id#{user.id}|#{user.last_name} #{user.first_name}] норм пацан, а он пидором оказался.
    when 2
        | [id#{user.id}|#{user.last_name} #{user.first_name}] если тебя в жопу выебали, не надо на всех злиться.
    when 3
        | Почему-то мне кажется, что [id#{user.id}|#{user.last_name} #{user.first_name}] гей.
    when 4
        | Ну, [id#{user.id}|#{user.last_name} #{user.first_name}], ты и пидорас конечно.
    when 5
        | Как таких как [id#{user.id}|#{user.last_name} #{user.first_name}], земля носит.