//- Variables : id, first_name, last_name, time, f_first_name, f_last_name f_id
case template
    when 1
        | 💬 [id#{id}|#{first_name} #{last_name}] решил встряхнуть стариной и погонять свою бибу.
        | ✊🏻 На фап было выделено #{time} мин.
    when 2
        | 💬 У [id#{id}|Уважаемого] старичка в первые за долгое время появился бибная реакция! Сейчас будет сила трения.
        | ✊🏻 Бибы хватит на #{time} мин.
    when 3
        | 💬 [id#{id}|#{last_name} #{first_name}] решил почесать шары, но закончилось все началом бибиных дел.
        | ✊🏻 Скоро придет, примерно через #{time} мин.
    when 4
        | 💬 О МАЙ ГАД! [id#{id}|#{first_name} #{last_name}] решил погонять свою бибу.
        | ✊🏻 Но его сил хватит на #{time} мин.
    when 5
        | 💬 Неудачник и Пофигист по имени [id#{id}|#{first_name} #{last_name}] решил задушить удава. Лучше бы работу нашел.
        | ✊🏻 Его хватить на #{time} мин.
    when 6
        | 💬 Молодой [id#{id}|#{first_name} #{last_name}] случайно наткнулся на бибиный-журнал и решил не упускать момент и пофапать!
        | ✊🏻 Эх.. жаль, что сил хватит только на #{time} мин.
    when 7
        | 💬 Всем привет! Меня зовут [id#{id}|#{last_name} #{first_name}] и я пошел фапать.
        | ✊🏻 приду через #{time} мин.
    when 8
        | 💬 [id#{id}|#{last_name} #{first_name}] устал сидеть без дела, и решил поиграть в бибу!
        | ✊🏻 Ничего вернется через #{time} мин.
    when 9
        | 💬 ОСТАНОВИТЕ [id#{id}|ЭТОГО] ЗВЕРЯ, ОН НАЧАЛ ФАПАТЬ!
        | ✊🏻 ЕГО МОЩИ ХВАТИТ НА #{time} мин.
    when 10
        | 💬 [id#{id}|#{first_name} #{last_name}] расстроился потому что ему отказали на собеседование, но рука дала добро. Удачного фапанья.
        | ✊🏻 Ждем #{time} мин.
    when 11
        | 💬 [id#{id}|#{first_name} #{last_name}] нашел под кроватью журнал для взрослых.
        | ✊🏻 Ждем #{time} мин.
    when 12
        | 💬 [id#{id}|#{first_name} #{last_name}] решил уединиться со своей рукой в коморке.
        | ✊🏻 Ждем #{time} мин.
    when 13
        | 💬 [id#{id}|#{first_name} #{last_name}] чуть не пропустил время фапа!
        | ✊🏻 Будет фапать еще #{time} мин.
    when 14
        | 💬 [id#{id}|#{first_name} #{last_name}] возбудился от сообщений и пошел фапать.
        | ✊🏻 Будет фапать еще #{time} мин.